aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
boto3==1.40.39
botocore==1.40.39
discord.py==2.6.3
frozenlist==1.7.0
idna==3.10
jmespath==1.0.1
multidict==6.6.4
propcache==0.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
s3transfer==0.14.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.20.1
